extends layout

block content
  header
    div.d-flex.align-items-center.justify-content-around.py-3
      h1.fs-2 OnlyMembers
      if user
        
      else 
        div
          a.btn.btn-primary.me-3.px-4.py-2(role="button" href="/login") Log In
          a.btn.btn-primary.ms-3.px-4.py-2(role="button" href="/signup") Sign Up
  main
    h2.fs-1.text-center.p-4.bg-body-tertiary.border-top Messages
