// Log in dialog
div.container-fluid.modal.fade(id="login-screen" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labeledby="login-screen-label" aria-hidden="true")
    div.modal-dialog.modal-dialog-centered
        div.modal-content
            div.modal-body
                form
                    div.d-flex.justify-content-end.mb-2
                        button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                    div.form-group.mb-3
                        label.form-label(for="login-email") #[strong Email address] 
                        input.form-control(type="email" id="login-email")
                    div.form-group.mb-3
                        label.form-label(for="login-password") #[strong Password] 
                        input.form-control(type="password" id="login-password")
                    div.d-grid.col
                        button.btn.btn-primary(type="submit") Log In